.ets-rating-messsage {
    width: 100%;
}

:focus {
    outline: none;
    border: none;
}

.ets-rating-submit {
    display: inline-block;
    padding: 8px 10px;
    background: #000;
    color: #fff;
    border-radius: 18px;
    cursor: pointer;
}

.ets-rating-stars.error .ets-rating-stars-messsage-error,
.ets-rating-message-wrap.error .ets-rating-messsage-error{
    display: block;
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}

.ets-rating-message-wrap.error .ets-rating-messsage{
    outline: 1px solid red;
    border: 1px solid red;
}

.ets-rating-stars-messsage-error,
.ets-rating-messsage-error {
    display: none;
}

.ets-rating-star {
    color: #000;
}
