
{% assign avg_rating = block.settings.product.metafields.demo.avg_rating.value | round %}
{% assign product_id = block.settings.product.id %}

<div class="ets-rating-form" style="display:none">
  <input type="hidden" value="{{ product_id }}">
  <span class="">
    {% render 'stars', rating: avg_rating %}
  </span>
  <div class="ets-rating-message-wrap">
    <textarea class="ets-rating-messsage" rows="5" cols="30"></textarea>
  </div>
  <div class="ets-rating-submit">Submit</div>
</div>

{% schema %}
{
  "name": "Star Rating",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}

