<div id="upformAppEmbedBlock" style="display: none;"></div>

{% schema %}
{
    "name": "UpForm",
    "target": "head",
    "stylesheet": "app-upform-embed-css.css",
    "javascript": "app-upform-embed-js.js",
    "class": "upform_embed_wrapper",
    "settings": []
}
{% endschema %}